@CHARSET "UTF-8";
.menu-title{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
.pagers{
	width: 100%;
	height: 50px;
	background-color: red;
}
.pagers button{
	margin-left: 15px;
}
