/* line 6, ../sass/lightbox.sass */
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

br {
	clear: both;
	line-height: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.position_pbl {
	margin: 20px auto 0 auto;
	width: 1170px;
}

#tab {
	margin: 0 auto 15px;
	width: 1170px;
	z-index: 9999;
	overflow: hidden;
}

.tab_left {
	float: left;
	width: 510px;
	margin: 10px 0;
}

.tab_left ul li {
	float: left;
	height: 29px;
	width: 90px;
	text-align: center;
	margin: 0 5px;
	line-height: 29px;
}

.tab_left ul li a {
	background: url(../images/bul.jpg) no-repeat;
	display: block;
	height: 29px;
	width: 90px;
	line-height: 29px;
}

.tab_left ul li .hovera {
	background: url(../images/bulhover.gif) no-repeat;
	display: block;
	height: 29px;
	width: 90px;
	line-height: 29px;
}

.tab_left ul li a:hover {
	background: url(../images/bulhover.gif) no-repeat;
	display: block;
}

.tab_right {
	float: right;
	width: 310px;
	background: #eeeeee;
	margin: 10px 0;
}

.tab_right .tab_ground {
	float: left;
	overflow: hidden;
	width: 148px;
	margin-left: 10px;
}

.tab_right .tab_ground h3 {
	float: left;
	height: 35px;
	line-height: 35px;
}

.tab_right .tab_ground ul li {
	float: left;
	overflow: hidden;
	text-align: center;
	width: 39px;
	height: 35px;
	line-height: 35px;
}

.tab_right .tab_width {
	margin-left: 27px;
	width: 125px;
}

.main {
	width: 750px;
	margin: auto;
	font-size: 12px;
	line-height: 22px;
	color: #666;
}

.main ul {
	*overflow: hidden;
	_height: 1%;
}

.main ul li {
	border: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
	border-top: 1px solid #DBDBDB;
	float: left;
	display: inline;
	list-style: none;
	margin: 6px 0;
	background: #FFF;
	width: 216px;
}

.main ul li.hover {
	border: 1px solid #fa3241;
	border-bottom: 2px solid #fa3241;
}

.main ul li img {
	width: 196px;
	display: block;
}

.main ul li img.hover {
	filter: Alpha(opacity = 90);
	-moz-opacity: .9;
	opacity: 0.9;
}

.main ul li h3, .main ul li p {
	padding: 0 10px 0 10px;
	font-weight: normal;
}

.main ul li p {
	background: #F3F0FF;
	line-height: 25px;
}

.img_block {
	position: relative;
	padding: 10px;
}

.zoom, .ilike {
	position: absolute;
	line-height: 25px;
	padding: 0 0 2px 18px;
	text-align: center;
	top: 14px;
	display: block;
	text-decoration: none;
	background: url(../images/pic_ilike.png) no-repeat -200px 0;
}

.zoom {
	left: 14px;
	width: 42px;
	background-position: 0 -71px;
}

.zoom:hover {
	background-position: 0 -99px;
}

.ilike {
	right: 14px;
	width: 57px;
	background-position: 0 -140px;
}

.ilike:hover {
	background-position: 0 -167px;
}

.iNum, .iNum a {
	background: url(../images/pic_ilike.png) no-repeat 0 -528px;
	padding: 0 0 6px 28px;
	line-height: 11px;
}

.iNum {
	background-position: 12px -522px;
}

.iNum a {
	background-position: 12px -550px;
	text-decoration: none;
}

.loading {
	text-align: center;
	padding: 30px 0;
}

#lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	opacity: 0.85;
	display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
	width: auto;
	height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
	border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
	padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container>.nav {
	left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
	outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
	width: 49%;
	height: 100%;
	background-image:
		url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
	/* Trick IE into showing hover */
	display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
	left: 0;
	float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
	right: 0;
	float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
	background: url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
	background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
	padding: 0 10px;
	color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
	width: 35px;
	float: right;
	padding-bottom: 0.7em;
	outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
	cursor: pointer;
}